.card {
    background-color: aqua;
    width: 400px;
    height: 500px;
}

.london-img {
    background-image: url(./card_image.jpeg);
    background-size: cover;
    height: 400px;
    font-size: 28px;
    color: white;

    display: flex;
    justify-content: end;
}