.menu  {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    gap: 15px;
}

.menu-item {
    font-size: 32px;
    padding: 10px;
}

.menu-item:hover {
    background-color: gray;
    cursor: pointer;
}
