.box {
    width: 150px;
    height: 150px;
    font-size: 20px;
    background-color: aqua;
    position: absolute;
    /* left: 200px;
    top: 80px; */
    right: 20px;
    bottom: 20px;
}

.container{
    width: 350px;
    height: 350px;
    font-size: 20px;
    background-color: yellow;
    position: relative;
}

.container-absolute{
    width: 150px;
    height: 150px;
    color: white;
    background-color: blue;
    position: absolute;
    top: 20px;
    left: 240px;
}